<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Listado de mascotas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
    
</head>

<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Control de mascotas</a>
			<div class="collapse navbar-collapse" id="collapsibleNavBar">
				<ul class="navbar-nav">
					<li class="navbar-item"><a class="nav-link"
						th:href="@{/mascotas}">Control de mascotas</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Lista de Mascotas</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
                    <th>Id</th>
					<th>Nombre</th>
					<th>Raza</th>
					<th>Edad</th>
					<th style="width:230px;">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mascota: ${listaMascotas}">
                    <td th:text="${mascota.id}"></td>
					<td th:text="${mascota.nombre}"></td>
					<td th:text="${mascota.raza}"></td>
					<td th:text="${mascota.edad}"></td>
                    <td>
                        <a th:href="@{/mascotas/editar/{id}(id=${mascota.id})}" class="btn btn-info ms-2">
                            EDITAR
                        </a>
                        <a th:href="@{/mascotas/{id}(id=${mascota.id})}" class="btn btn-danger ms-3">
                            ELIMINAR
                        </a>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>